@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vscode-bg text-vscode-text overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

::-webkit-scrollbar-thumb {
  background: #424242; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}
